/* NAV */
nav {
    margin-bottom: 20px;
}
.cabecalho, .pesquisa, .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    align-items: center;
}
.login p {
    margin-right: 20px;
}
.login a {
    text-decoration: none;
    color: #3056B1;
    text-align: end;
}
.pesquisa {
    height: 32px;
    width: 474px;
    border: 1px solid rgb(140, 135, 135);
}
.pesquisa input {
    height: 29px;
    width: 385px;
    border: none;
}
.pesquisa button {
    background: #EAECF0;
    border: 1px solid rgb(161, 159, 159);
    font-weight: bolder;
    line-height: 2;
    height: 32px;
    text-align: center;
    width: 91px;
}
.pesquisa button:hover {
    cursor: pointer;
    background: #c5cfe3;
}
.pesquisa button:active {
    box-shadow: inset 1px 2px 3px rgb(161, 159, 159);
}

/* MAIN */
main {
    display: grid;
    grid-template: 
    "conteudo principal aspecto" 600px
    / auto 990px auto;
}
/* SECTION CONTEUDO */
.topo, .topo2 {
    display: flex;
}
.conteudo, .aspecto {
    position: fixed;
}
.conteudo {
    left: 20px;
}
.aspecto {
    right: 100px;
}

/* SECTION ASPECTO */
.aspecto {
    width: 120px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input[type="radio"] {
  transform: scale(1.5); /* aumenta 1.5x o tamanho */
  cursor: pointer;
}
label {
    font-size: 17px;
}